body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(219, 219, 219, 0.2);
  margin-top: 50px;
  flex-grow: 1;
}

.sidebar {
  width: 250px;
  background-color: #2c3e50; 
  color: black;
  height: auto;
  top: 0;
  left: 0;
}

.header {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.sidebar .MuiListItemText-primary {
  font-weight: bold;
}

.sidebar .MuiListItemIcon-root {
  color: black;
}

.sidebar .MuiDivider-root {
  background-color: rgba(255, 255, 255, 0.3);
}

.title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
}

.upload-form input[type="file"] {
  margin-bottom: 20px;
  color: black;
}

.upload-form .MuiTextField-root {
  color: black;
}

.upload-form .MuiButtonBase-root {
  background-color: #47ba47;
  color: black;
}

.upload-form .MuiButtonBase-root:hover {
  background-color: #47ba47;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.results-paper {
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.results-title {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.results-list {
  margin-left: 20px;
  color: black;
}

.results-list span {
  font-weight: bold;
}

.final-score {
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
}

.final-score + h5 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}

.info-paper {
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}

.score-indicator {
  margin-top: 20px;
}

.score-bar {
  position: relative;
  width: 100%;
  height: 20px;
  background: linear-gradient(to right, red, orange, green);
  border-radius: 10px;
}

.indicator {
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: black;
  color: black;
}

.score-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
